* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: "Montserrat", sans-serif;
}

#main {
  margin: 50px auto;
}

#title {
  text-align: center;
  margin-bottom: 25px;
  padding: 16px;
}

#short-desc {
  text-align: center;
}

p,
li {
  font-size: 0.92rem;
}

#img-div {
  background-color: white;
  text-align: center;
  padding: 4%;
  margin: 50px 4%;
}

#image {
  margin: auto;
  display: block;
  max-width: 900px;
  width: 100%;
  margin-bottom: 4%;
}

#tribute-info {
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 10px auto;
}

ul {
  width: 90%;
  margin: 25px auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

ul li {
  margin: 4px 0;
  text-align: left;
}

#quote {
  font-style: italic;
  font-size: 1.5rem;
  width: 50%;
  margin: 25px auto;
  text-align: right;
}

#quote span {
  font-size: 0.85rem;
}

#link-for-more {
  text-align: center;
  font-size: 1.2rem;
  padding: 16px;
}

@media (max-width: 640px) {
  ul {
    display: block;
    width: 80%;
  }

  #quote {
    font-size: 1.25rem;
  }

  #title {
    font-size: 1.25rem;
  }
}
